@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
html{
    box-sizing: border-box;
    background-color: #202020;
}
*,
*::before
*::after{
    box-sizing: inherit;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Overpass Mono", monospace;
}
header{
    left: 0;
    right: 0;
    background-color: #202020;
    
}
.container{
    margin: 40px auto;
    width: 900px;
    height: 60px;
    border-bottom: solid 1px white;
}
.container nav{
    display: flex;
    justify-content: space-between;

}
.container ul{
    margin: 0 auto;
    display: flex;
    gap: 0 40px;
}
.container a{
    display: flex;
    gap: 0 40px;
    color: #ffff;
    text-decoration: none;
}
.container li{
    list-style-type: none;
}
.container img{
    width: 7%;
}
.container1{
    padding-top: 20px;
    margin: 40px auto;
    width: 900px;
    height: 500px;
}
.container1 img{
    margin: 0 15% auto;
}
.container1 p{
    margin-top: 40px;
    color: #ffff;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: dashed 2px #ffffff;
    border-image-slice: 1;
    border-image-repeat: round;
}
.papers{
    width: 900px;
    height: 500px;
    margin: 100px auto;
    padding: 30px;
}
.papers h1{
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 40px;
}
.papers p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    border: dashed 3px #ffffff;
    border-radius: 10px;
    padding: 5px;
}
.pasport{
    width: 300px;
    height: 600px;
    float: left;
}
.pasport img{
    width: 300px;
    
}

.propusk{
    width: 300px;
    float: right;
}

.propusk img{
    width: 300px;
}
.container2{
   padding-top: 20px;
    display: flex;
    margin: 200px auto 50px;
    width: 900px;
    height: 250px;
    border-left: solid 1px white;
    border-right: solid 1px white;
}
.container2 p{
    color: #ffff;
    font-style: italic;
    line-height: 30px;
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 10px;
}
.container2 a{
    margin-top: 20px;
    margin-right: 20px;
    color: #ffff;
    font-weight: 100;
    float: right;
    text-decoration: none;
}
.reviews{
    width: 300px;
    padding-left: 20px;
}
.winner{
    margin: 10px auto;
    max-width: 900px;
    height: 500px;
}
.winner img{
    width: 217px;
}
.trailer{
    width: 900px;
    height: 500px;
    margin: 10px auto;
}
.sim-slider {
    max-width: 900px;
    min-width: 500px;
    margin: 20px auto;
    padding: 30px 50px;
}
.sim-slider {
    position: relative;
}
.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}
.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    z-index: 4;
}
  
div.sim-slider-arrow-left {
    left: 10px;
    top: 45%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}
div.sim-slider-arrow-right {
    right: 0px;
    top: 45%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}
  
div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}
  
div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}
  
div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}
.img {
    width: 900px;
    height: 500px; 
    
}
span.sim-dot {
    width: 20px;
    height: 4px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #ffffff;
    cursor: pointer;
}
.container3{
    width: 900px;
    margin:100px auto;
    border-top: solid 1px white;
}
.container3 h2{
    margin-top: 110px ;
    text-align: center;
    color: #cc2e2e;
    font-size: 5.7rem;
    line-height: 50px;
}
.container3 span{
    font-size: 2rem;
    line-height: 1px;
    
}
.container3 img{
    margin-top: 100px;
    margin-left: 130px;
}
.container4{
    display: flex;
    width: 900px;
    height: 900px;
    margin:100px auto;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}
.container4 h1{
    margin-left: 10px;
    margin-top: 40px;
    font-size: 2rem;
    color: #ffffff;
}
.box{
    margin: 100px 20px;
    width: 250px;
    position: absolute;
}
.box1{
    margin: 100px 310px;
    width: 250px;
    position: absolute;
}
.box1 button{
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
    margin: 40px 80px;
    transition: 1s;
    position: absolute;
    background-color: #202020;
    border: solid 3px white;
    cursor: pointer;
    transform:  scale(0.9);
    transition: 0.3s;
}
.box1 p{
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    color: white;

}
.box button{
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
    margin: 40px 80px;
    transition: 1s;
    position: absolute;
    background-color: #202020;
    border: solid 3px white;
    cursor: pointer;
    transform:  scale(0.9);
    transition: 0.3s;
}
.box button:hover{
    transform:  scale(1);
    transition: 0.3s;  
}
.box1 button:hover{
    transform:  scale(1);
    transition: 0.3s; 
}
.box2 button:hover{
    transform:  scale(1);
    transition: 0.3s;
}
.box button:active{
    transform:  scale(0.8);
    transition: 0.2s;  
}
.box1 button:active{
    transform:  scale(0.8);
    transition: 0.2s; 
}
.box2 button:active{
    transform:  scale(0.8);
    transition: 0.2s;
}
.box p{
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    color: white;

}
.box2{
    margin: 100px 600px;
    position: absolute;
    width: 250px;
}
.box2 p{
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
    color: white;

}
.box2 button{
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
    margin: 40px 80px;
    transition: 1s;
    background-color: #202020;
    border: solid 3px white;
    cursor: pointer;
    transform:  scale(0.9);
    transition: 0.3s;
}
.ss{
    filter: grayscale(1);
    transform:  scale(0.8);
    transition: 1s;
    width: 270px;
    height: 390px;
    background-image: url(img/PapersPlease.jpeg);
    background-size: cover;
}
.ss2{
    filter: grayscale(1);
    transform:  scale(0.8);
    transition: 1s;
    width: 270px;
    height: 390px;
    background-image: url(img/PapersPlease.G.jpeg);
    background-size: cover;
}
.ss3{
    filter: grayscale(1);
    transform:  scale(0.8);
    transition: 1s;
    width: 270px;
    height: 390px;
    background-image: url(img/PapersPlease.ss.jpeg);
    background-size: cover;
}
.change-on-focus{
    transform:  scale(1);
    transition: 1s;
    filter: grayscale(0);
}
.change-on-focus2{
    transform:  scale(1);
    transition: 1s;
    filter: grayscale(0);
}
.change-on-focus3{
    transform:  scale(1);
    transition: 1s;
    filter: grayscale(0);
}
.change-on-focusb1{
    background-image: url(img/галочка-100.png);
    transition: 1s;
}
.container5{
    width: 900px;
    height: 400px;
    margin:250px auto 0px;
    border-bottom: solid 1px white;
}
.input1{
    padding-left: 20px;
    width: 400px;
    height: 40px;
    font-size: 22px;
    background-color: #202020;
    border: solid 1px white;
    color: #ffffff;
    border-radius: 5px;
    
}
.input2{
    padding-left: 20px;
    float: right;
    width: 400px;
    height: 40px;
    font-size: 22px;
    background-color: #202020;
    border: solid 1px white;
    color: #ffffff;
    border-radius: 5px;
}
.write2{
    width: 900px;
    padding-top: 5vh;
}
.container5 textarea{
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 40px;
    border: none;
    width: 900px;
    height: 25vh;
    resize: none; 
    background-color: #202020;
    border: dashed 2px #ffffff;
    border-image-slice: 1;
    border-image-repeat: round;
    border-radius: 5px;
    color: #ffffff;
}
.container5 button{
    margin: 20px 350px;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #202020;
    border: solid 3px white;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transform:  scale(1);
}
.container5 button:hover{
    background-color: #ffffff;
    border: solid 3px rgb(0, 0, 0);
    color: #000000;
}
.container5 button:active{
    transform:  scale(0.8);
    transition: 0.3s;
}
.footer{
    text-align: center;
    width: 700px;
    margin:40px auto ;
}
.footer p{
    color: white;
    font-size: 0.7rem;
}
